<template>
  <div class="post">
    <div class="post__body">
      <h1 class="title">{{post.title}}</h1>
      <p class="post__text">{{post.text}}</p>
    </div>
    <comments :post="post" @addComment="addComment"></comments>
  </div>
</template>

<script lang="ts" src="./post.ts"></script>

<style lang="scss">
  .post__text {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .post__body {
    margin-bottom: 50px;
  }
</style>
