<template functional>
  <router-link :to="'/post/' + props.post.id" class="card" :title="props.post.title">
    <div class="card__title">{{props.post.title}}</div>
    <p class="card__text">{{props.post.text}}</p>
    <div class="card__counter">{{ props.post.comments.length }} comm.</div>
  </router-link>
</template>

<style lang="scss">
  .card {
    padding: 15px;
    display: block;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .card:hover .card__title {
    text-decoration: underline;
  }
  
  .card__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card__text {
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card__counter {
    font-size: 14px;
  }
</style>
