<template>
  <header class="header">
    <div class="container">
      <router-link to="/" class="header__title">Blog</router-link>
    </div>
  </header>
</template>

<style lang="scss">
  .header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fff;
    top: 0;
    z-index: 5;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .header__title {
    font-size: 30px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
</style>
