<template>
  <div class="add-post">
    <h1 class="title">New post</h1>
    <div class="row">
      <div class="col-12 col-lg-4">
        <input class="input add-post__input" v-model="form.title" placeholder="Title">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <textarea class="textarea add-post__textarea" v-model="form.text" rows="5" placeholder="Text"></textarea>
      </div>
    </div>
    <btn :disabled="!isValidForm" @click="addPost(form)">Add post</btn>
  </div>
</template>

<script lang="ts" src="./add-post.ts"></script>

<style lang="scss">
  .add-post__input {
    margin-bottom: 20px;
  }
  
  .add-post__textarea {
    margin-bottom: 30px;
  }
</style>
