<template>
  <div class="comments">
    <div class="comments__form">
      <div class="row">
        <div class="col-12 col-lg-4">
          <input class="input comments__input" v-model="form.name" placeholder="Name">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-7">
          <textarea class="textarea comments__textarea" v-model="form.text" rows="5" placeholder="Comment"></textarea>
        </div>
      </div>
      <btn :disabled="!isValidForm" @click="addComment">Add comment</btn>
    </div>
    <ul v-if="post.comments && post.comments.length" class="comments__list">
      <li v-for="(comment, index) in post.comments" :key="index" class="comment">
        <div class="comment__name">{{ comment.name }}</div>
        <div class="comment__text">{{ comment.text }}</div>
      </li>
    </ul>
  </div>
</template>

<script src="./comments.ts"></script>

<style lang="scss">
  .comments__textarea {
    margin-bottom: 20px;
  }
  
  .comments__input {
    margin-bottom: 20px;
  }
  
  .comments__list {
    padding: 0;
    margin-top: 30px;
    list-style: none;
  }
  
  .comment:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .comment__name {
    font-size: 18px;
  }
  
  .comment__text {
    padding-left: 10px;
  }
  
</style>
