<template>
  <div class="home">
    <h1 class="title">Posts</h1>
    <div v-if="slicedPosts && slicedPosts.length" class="row home__posts">
      <div v-for="(post, index) in slicedPosts" :key="index" class="col-12 col-lg-3">
        <card :post="post"></card>
      </div>
      <div v-if="isVisibleLoadMoreBtn" class="col-12">
        <div class="d-flex justify-content-center">
          <btn @click="loadMore()">Load more</btn>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="home__empty">No posts yet</div>
    </div>
    <btn @click="goToAddPost()">Add post</btn>
  </div>
</template>

<script lang="ts" src="./home.ts"></script>

<style lang="scss">
  .home__empty {
    font-size: 20px;
    margin-bottom: 30px;
  }
</style>
