<template>
  <div id="app">
    <HeaderComponent></HeaderComponent>
    <main class="main">
      <div class="container">
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </main>
  </div>
</template>

<script lang="ts" src="./app.ts"></script>

<style lang="scss">
  // Main styles
  
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  .main {
    padding-top: 120px;
  }
  
  // Transition for routes

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>
