.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}

.input {
  padding: 0 10px;
  border: 1px solid #bebebe;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.input::placeholder {
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.textarea {
  padding: 10px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  resize: none;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.textarea::placeholder {
  font-size: 16px;
}

.textarea:focus {
  outline: none;
}
